<div class="row">
    <div class="col-1 text-center">
        <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
            <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>" ></div>
            <span class="font-weight-bold score"><%= @post.score %></span>
            <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
        </div>
    </div>
    <div class="col-11">

<h2><%= @post.title %></h2>

<%= simple_format @post.body %>
<div class="card-img-top"><% unless @post.image.blank? %>
     <%= image_tag(@post.image, style: "width:90%; height:auto")%>
      <% end %></div>
      <%= link_to "Back", community_path(@community) %> 
      <%= button_to "Delete", community_post_path(@post.id), method: :delete, class: 'btn btn-danger' %>


<div id="post-comments" class="mt-3">
    <h3>Comments:</h3>
    <%= render partial: "posts/comments", locals:  {comments: @post.comments} %> 

</div>


<h4 class="mt-3">Leave a comment</h4>
<%= form_for @comment, remote: true do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :message, placeholder: "Your comment...", class: "form-control" %>
    <%= f.submit "Submit comment", class: "btn btn-success mt-3 mb-3" %>
<% end %>
    </div>