<%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary float-right" %>
<h3 class="pb-3"><%= @community.name %></h3>

<%= render partial: "posts/list", locals: { posts: @posts } %>

<%= pluralize @subscriber_count, "member" %>

<small>
    <%= simple_format @community.rules %>
</small>

